{% extends "header.html" %}

{% block title %}
   Cart
{% endblock %}
{% block content %}
   <div class="container">
     <br/><br/><br /><br /><br />
     {% if cart_items %}
      {% for data in cart_items %}
         <div class="container-fluid cart_view">
          <div class="top-flex">
           <img class="vh-100" src={{ data.product.image.url }} />
             <h6 class="mt-3">{{data.product.name}}</h6>
             <a class="delete-btn" href="/remove/{{data.id}}"><i class="fa fa-trash"></i></a>
         </div>
         <div class="mt-2 rounded bg-primary increaser">
               <a href="/descrease/{{data.id}}" class="fs-1 btn btn-primary rounded display-6">-</a>
               <span class="mt-1 display-6">{{data.quantity}}</span>
               <a class="fs-1 display-6 rounded btn btn-primary" href="/increase/{{data.id}}">+</a>
         </div>
         </div>
      {% endfor %}
      <br/><br/><br/>
        <a class="btn d-block btn-primary btn-block" href="/place">Checkout</a>
    {% else %}
       <div>
         <br/><br/><br/>
         <h1>Empty List</h1>
       </div>
    {% endif %}
   </div>
{% endblock %}